h1 {
    text-align: center;
}

p {
    text-align: center;
}
p a {
    color: #830E0D;
    text-decoration: none;
    border: 1px solid black;
    background-color: black;
    padding: 10px;
}
p a:hover {
    opacity: 0.5;
}